<div ng-controller="adminCtrl" ng-init="initGetUser()" style="margin-top:80px;">
    <br />
    <div class="col-lg-offset-1 pull-left margin-bottom-5 ng-scope">
        <input type="text" placeholder=" Search Results" ng-model="searchInput" class="ng-pristine ng-valid">
        <div class="btn-group">
            <button class="btn btn-primary btn-width ml10 " rx-tip="" title="" rx-trigger="hover" tip-placement="bottom" ng-click="userAutoFilter()" data-original-title="Search Record"><i class="icon-search"></i></button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default btn-width ml10" rx-tip="" title="" rx-trigger="hover" tip-placement="bottom" ng-click="userResetSearch()" data-original-title="Undo Search"><i class="icon-undo"></i></button>
        </div>
    </div><br /><br /><br />

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="table-responsive">
                <rx-grid grid-source="usersGrid" grid-option="usersGridOption"></rx-grid>
            </div>
        </div>
    </div>
</div>
   








