<div class="row" style="height:800px; text-align:center;" ng-controller="checkOutCtrl">
    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Your Order Has Been Dispatched! It will reach you within 3-4 working days.</strong></p>
        <hr>
        <p>
            Having trouble? <a href="User#/helpDesk">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-group-lg " href="User#/dashboard" role="button"><i > Continue to homepage</i></a>
        </p>
    </div>
</div>