<link href="../../Content/SignUp.css" rel="stylesheet" />
<div ng-controller="userCtrl">
    <div class="login-page">
        <div class="form">
            <form class="login-form" name="myform">
                <img id="signInImage" src="../../Content/Images/logo.png" height="120" width="120" />
                <input type="password" placeholder="New Password" name="pass" ng-model="user.newPassword" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/" required />
                <span ng-show="myform.pass.$error.pattern" style="color:red">Please enter valid password<br /><br /></span>
                <input type="password" placeholder="Confirm New Password" ng-model="user.confirmNewPassword" name="confirmPassword" match-password="user.password" required />
                <div ng-if="user.newPassword != user.confirmNewPassword" class="error">
                    <div style="color:red">passwords do not match</div><br />
                </div>
                
                <div>
                    <button id="disabledButton" type="submit" class="btn btn-primary" ng-click="updatePassword(user)" ng-disabled="myform.$invalid || user.password != user.confirmPassword">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>